* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-secundario-body);
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 100%;
    margin-bottom: -8px;
}

.titulo p {
    font-size: 40px;
    color: var(--color);
    font-weight: 600;
    letter-spacing: 1.5px;
    border: 1px solid transparent;
    background-color: var(--color-secundario-body);
    padding: 15px;
    width: 50%;
    text-align: center;
}

.nota {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid var(--color-primario-header);
    transition: all .1s ease;
}

.nota:hover {
    transform: translateY(-5px);
}

.nota p {
    font-size: 18px;
    padding: 20px 50px;
    text-align: center;
    color: var(--color-texto-input);
    font-weight: 400;
    background-color: var(--pinterest);
}

.seccion-doble {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px auto;
    /* border: 1px solid red; */
    font-size: 20px;
    padding: 10px;
    background-color: var(--color-secundario-body);
}

/* primera seccion */

.seccion-primera {
    width: 50%;
    padding: 10px;
    margin: 5px;
}

.seccion-primera .Temporizador {
    padding: 10px 40px;
    width: 97%;
    margin: 10px;
    text-align: center;
    border: 1px solid var(--color-primario-header);
    border-radius: 10px;
    color: var(--color-texto-input);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: var(--color-enlaces-hover);
}

.seccion-primera .Temporizador2 {
    padding: 10px 40px;
    width: 97%;
    margin: 10px;
    text-align: center;
    border: 1px solid var(--color-primario-header);
    border-radius: 10px;
    color: var(--color-texto-input);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: var(--pinterest);
}

.seccion-primera .publicidad {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.seccion-primera .porsentaje-reclamo {
    padding: 10px 10px;
}

.seccion-primera .porsentaje-reclamo h4 {
    text-align: center;
    color: var(--color-enlaces-hover);
    font-weight: 200;
    margin: 10px 0;
}

.seccion-primera .porsentaje-reclamo p {
    margin: 5px 0 5px 10px;
    color: var(--color-enlaces-inicial);
    font-weight: 300;
}

.seccion-primera .reclamo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-primera .reclamo button {
    display: block;
    padding: 10px 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-enlaces-hover);
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

/* segunda seccion */

.contenedor-tabla {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    width: 50%;
    padding: 20px 20px;
    box-sizing: content-box;
}

.tabla-de-reclamos {
    text-align: center;
    font-size: 25px;
    padding: 20px 50px;
    width: 100%;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-enlaces-hover);
    font-weight: 400;
    letter-spacing: 1.2PX;
    border-bottom: 1px solid var(--color-primario-header);
    border-radius: 10px;
}

.contenedor-tabla .cart-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    /* border: 1px solid red; */
}

/* seccion tabla */

table {
    width: 100%;
    /* border: 1px solid green; */
    padding: 15px;
    color: aqua;
    border-collapse: collapse;
}

th, td {
    width: 50%;
    text-align: center;
    vertical-align: top;
    padding: 10px;
    border: 1px solid white;
}

.odd th, .odd td {
    background-color: #25292c;
}

.even td {
    background-color: #454d55;
}


/* seccion footer */

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: var(--color-secundario-body);
}

.footer .derechos {
    font-size: 20px;
    color: var(--color-enlaces-hover);
    font-weight: 300;
    margin: 5px 0 15px 0;
}

.footer a {
    text-decoration: none;
    color: var(--pinterest);
    font-weight: bold;
}

#fechaLocal {
    font-size: 20px;
    color: var(--color-enlaces-inicial);
    font-weight: 600;
}

#hora {
    font-size: 20px;
    color: var(--color-enlaces-inicial);
    font-weight: 600;
}


@media screen and (max-width: 790px) {

    .titulo p {
        width: 100%;
    }

    .nota {
        width: 90%;
    }

    .nota p {
        padding: 15px 25px;
        text-transform: capitalize;
        font-weight: 600;
    }

    .seccion-doble {
        width: 100%;
        flex-direction: column;
    }

    .seccion-primera {
        width: 100%;

    }
}