.primera-seccion__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0 30px 0 30px;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.primera-seccion__contenedor .contenedor__titulo {
    font-size: 2.3rem;
    color: var(--color-enlaces-inicial);
    margin: 15px 0;
    padding: 10px 20px;
    letter-spacing: 1.1px;
}

.acordion {
    max-width: 830px;
    width: 100%;
    background-color: var(--color-secundario-body);
    margin: 15px 0 20px 0;
    padding: 15px;
    border-radius: 0 20px 0 20px;
    box-shadow: 3px 2px 19px -2px rgba(18,224,224,0.82);
    opacity: .9;
}

.acordion .acordion__contenedor {
    margin: 12px 0;
    border-radius: 4px;
    background-color: var(--color-primario-header);
    border: 1px solid var(--color-enlaces-hover);
    overflow: hidden;
    border-radius: 0 20px 0 20px;
}

.acordion__contenedor.open {
    padding-bottom: 15px;
}

.acordion__contenedor header {
    display: flex;
    min-height: 50px;
    padding: 0 15px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    transition: all .2s linear;
}

.acordion__contenedor.open header {
    min-height: 45px;
}

.acordion__contenedor header .titulo__acordion {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 0 20px;
    text-transform: capitalize;
    color: var(--color-enlaces-inicial);
}

.acordion__contenedor header .icono__acordion {
    font-size: 15px;
    margin-right: 10px;
    color: var(--color-enlaces-hover);
}

.acordion__contenedor .descripcion__acordion {
    height: 0;
    font-size: 16px;
    color: var(--color-enlaces-inicial);
    font-weight: 200;
    padding: 0 15px;
    line-height: 1.4;
    transition: all .2s linear;
    text-transform: capitalize;
}

.acordion__contenedor.open .descripcion__acordion .enlaces__directos-acordion,
.acordion__contenedor.open .descripcion__acordion .roadmap,
.acordion__contenedor.open .descripcion__acordion .blockchain {
    text-transform: uppercase;
    color: var(--color-enlaces-hover);
}

@media screen and (max-width: 790px){

    .primera-seccion__contenedor {
        border-radius: 0;
        padding: 10px;
    }

    .primera-seccion__contenedor .contenedor__titulo {
        font-size: 1.7rem;
    }
}