 /* CSS ProgressBar */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .hidden {
    overflow: hidden;
 }

 .container {
    position: absolute;
    background-color: var(--color-secundario-body);
    top: 0;
    width: 100%;
    min-height: 100vh;

    display: flex;
 }

 .preloader {
    margin: auto;
    border-radius: 30px;

    width: 350px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);

    position: relative;
 }

 .preloader::before {
    content: "";
    position: absolute;
    border-radius: 30px;
    background-color: var(--color-enlaces-hover);
    width: 0%;
    height: 50px;

    animation: preloader 5s infinite;
 }

 .preloader p {
    margin: 0;
    line-height: 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;

    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
 }

 .cerrar {
    transform: translateY(-100%);
    transition: all 0.5s ease;
 }

@keyframes preloader {
    90% {
        width: 100%;
        opacity: 1;
    }

    100% {
        width: 100%;
    }
}

@media screen and (max-width: 790px) {
   .container {
      width: 100%;
   }

   .preloader {
      width: 80%;
   }
}